#contenedor div{
 width: 19%;
 height: 30vh;
 display: inline-block;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 border-radius: 5px;
 color: rgba(0,0,0,0);
 border: 1px solid black;
}

.imagen1 {
 background-color: rgb(53, 187, 17);
}

.imagen2 {
 background-color: rgb(210, 79, 54);
}

.imagen3 {
 background-color: rgb(60, 161, 137);
}

.imagen4 {
 background-color: rgb(200, 161, 137);
}

.imagen5 {
 background-color: rgb(60, 30, 137);
}
